[submodule "thirdparty/SDL2"]
	path = thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/Xoshiro"]
	path = thirdparty/Xoshiro
	url = https://github.com/fhomolka/Xoshiro-cpp.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/sdl_stb_font"]
	path = thirdparty/sdl_stb_font
	url = https://github.com/SnapperTT/sdl_stb_font.git
[submodule "thirdparty/Simple-SDL2-Audio"]
	path = thirdparty/Simple-SDL2-Audio
	url = https://github.com/jakebesworth/Simple-SDL2-Audio.git
[submodule "thirdparty/sokol"]
	path = thirdparty/sokol
	url = https://github.com/floooh/sokol.git
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = https://github.com/CoffeeMug-Entertainment/box2d.git
